:root {
  --main-bg-color: #000;
  --sec-bg-color: #333;
  --thr-bg-color: #888;
  --main-fg-color: #fff;
  --button-bg-color: #ddd;
  --button-fg-color: #333;
}


body {
	/*background: #ddd url(http://www.oldforest.net/wishlist/hollytile.gif) repeat ;*/
	margin: 0;
	padding: 0;
	color: var(--main-fg-color);
	background: var(--main-bg-color);
}

a {
   color:var(--main-fg-color);
}

button {
   color:var(--button-bg-color);
   background:var(--button-fg-color);
}

input {
	color: var(--main-fg-color);
	background: var(--main-bg-color);
}

textarea {
	width:100%;
	color: var(--main-fg-color);
	background: var(--main-bg-color);
}

.wishItemArea {
	padding:5px;
	width:95%;
	background:var(--main-bg-color);
	border-top:   1px solid var(--sec-bg-color);
	border-bottom:1px solid var(--thr-bg-color);
	border-left:  1px solid var(--thr-bg-color);
	border-right: 1px solid var(--sec-bg-color);
}


.wishItemProp {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background:var(--sec-bg-color);
	padding:2px;
	margin-top:0px;
	margin-bottom:-18px;
}


.wishItemPropName {
	flex-basis: 80px;
	text-align: right;
}

.wishItemPropVal {
	flex-grow: 1;
	text-align: left;
	margin-left:10px;
}

