body {
	background-image: url("http://wishlist.oldforest.net/images/hollytile.gif");
	background-repeat: repeat;
	background-color: #ddd;
\	margin: 0;
	padding: 0;
}

.Title {
    color:#800;
	font-size: 200%;
}

.Error {
    color:#F00;
	font-size: 200%;
}

A {
   color:#fff;
}

TD {
    padding:3px;
}

TD.Menu {
    text-align:center;
    padding:5px;
    background:#800;
    border-top:   1px solid #ddd;
    border-bottom:1px solid #666;
    border-left:  1px solid #666;
    border-right: 1px solid #ddd;
}

table.grid {
    background:#800;
	color: #fff;
    border-top:   1px solid #ddd;
    border-bottom:1px solid #666;
    border-left:  1px solid #666;
    border-right: 1px solid #ddd;
}
td.nogrid {
    border: 0px;
}
th.nogrid {
    border: 0px;
}
td.grid {
    background:#282;
    border: 1px solid #000;
	color:#fff;
}
th.grid {
    background:#5a5;
    border: 1px solid #000;
	color:#fff;
}
td.right {
    text-align:right;
    padding-right:3px;
}
th.right {
    text-align:right;
    padding-right:3px;
}
td.Warning {
    background:#f22;
}
.Note {
    color:#f00;
}
.Instructions {

}
.InstructionHeader {
    font-weight:bold;
}